<div id="footer" style="display: none;">
    <div id="footer-line"></div>
    <div id="footer-main">
        Copyright © 2019
        <strong>
            Chromispos report generator system
        </strong>
    </div>
</div>