<section>
  <div class="row">
    <nav class="d-none d-md-block sidebar">
      <div class="sidebar-sticky navbar-brand" style="padding-top: 100px">
        <ul class="list-group pl-3 navbar-nav">
          <li class="nav-item pb-3">
            <a href="#" 
              class="nav-link list-group-item font-weight-bold text-white">
              <i class="material-icons">
                supervisor_account
              </i>
              User management
            </a>
          </li>

          <li class="nav-item pb-3">
            <a href="#" 
              class="nav-link list-group-item text-white">
              <i class="material-icons">
                library_books
              </i>
              Report management
            </a>
          </li>
              
          <li class="nav-item pb-3">
            <a href="#" 
              class="nav-link list-group-item text-white">
              <i class="material-icons">
                cast_connected
              </i>
              Database settings
            </a>
          </li>
        </ul>
      </div>
    </nav>
  </div>
</section>