<body data-gr-c-s-loaded="true" class="bg-light">
    <!-- Begin import page header -->
  <% include ../../partials/_navbar %>
  <!-- End import page header -->

  <div class="container-fluid">

      <!-- Begin import page sidebar -->
      <% include ../../partials/_sidebar %>
      <!-- End import page sidebar -->

      <main role="main" class="ml-sm-auto pt-3 px-4" style="width: calc(100% - 280px);">
        Users
      </main>
  </div>

  <!-- Begin import page footer -->
  <% include ../../partials/_footer%>
  <!-- End import page footer -->


  <!-- Begin import jabascript libs -->
  <% include ../../partials/_scripts %>
  <!-- End import jabascript libs -->
  <script src="app/admin/users.js"></script>
</body>
    